<!DOCTYPE html>
<html  ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arduino UI Test</title>
    <link rel="stylesheet" type="text/css" href="css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
      <script src="scripts/app.js"></script>
  </head>
  <body ng-controller="appController">
  <section class="section">
    <div class="container">
      <h1 class="title">
        Dataquire v0.01
      </h1>
      <p class="subtitle" >
        Firebase test !
      </p>
    </div>
  </section>
      
      <section>
          

<div class="box">
    <div ng-show="mySensor" id="sensorval" >
    <h1 class="title" >Sensor Readings</h1>
    <div class="columns is-multiline is-mobile">
        
        
<div class="column">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="images/like.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="is-size-2">
          <strong id="heart_reading">--</strong><small class="is-size-4">bpm</small>
          <br>
        </p>
      </div>

    </div>
  </article>
</div>
        
<div class="column">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="images/thermometer.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="is-size-2">
          <strong id="temp_reading">--</strong><small class="is-size-4">°C</small>
          <br>
        </p>
      </div>

    </div>
  </article>
</div>
        
<div class="column">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="images/drop.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="is-size-2">
          <strong id='hum_reading'>--</strong><small class="is-size-4">%</small>
          <br>
        </p>
      </div>

    </div>
  </article>
</div>
        
<div class="column">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="images/sunny.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="is-size-2">
          <strong id='lux_reading'>--</strong><small class="is-size-4">L</small>
          <br>
        </p>
      </div>

    </div>
  </article>
</div>
        
</div>
            </div>
    
<div ng-show="myHome" id="homeval">Welcome to Dataquire v0.01, it is still under progress and with shitty code lol.</div>
    
</div>
    

<div class="box2">
<div class="columns is-multiline is-mobile is-gapless">
    
    <div  class="column" >
      <a ><figure class="image is-64x64">
        <img ng-click="home()" src="images/house.png" alt="Image">
          </figure></a>
    </div>
        
<div class="column">
    <figure class="image is-64x64">
        <a><img ng-click="sens()" src="images/temperature.png" alt="Image"></a>
    </figure>
        
    </div>
    
<div class="column">
    <figure class="image is-64x64">
        <img src="images/bar.png" alt="Image">
    </figure>
        
    </div>
    
<div class="column">
    <figure class="image is-64x64">
        <img src="images/empty.png" alt="Image">
    </figure>
        
    </div>
    
    </div>
              
</div>  
      
      </section>
      
      
   
      
  </body>
    

<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBFCqmnuT2EkTqDn_Yrnz1b4n45LP1Qwsc",
    authDomain: "dataquire-ardutest.firebaseapp.com",
    databaseURL: "https://dataquire-ardutest.firebaseio.com",
    projectId: "dataquire-ardutest",
    storageBucket: "dataquire-ardutest.appspot.com",
    messagingSenderId: "914254519739"
  };
  firebase.initializeApp(config);
    
    var heart_reading = document.getElementById('heart_reading');
    var dbRef = firebase.database().ref().child('heart');
    dbRef.on('value', snap => heart_reading.innerText =snap.val());
    
    var temp_reading = document.getElementById('temp_reading');
    var dbRef2 = firebase.database().ref().child('temprature');
    dbRef2.on('value', snap => temp_reading.innerText =snap.val());
    
    var hum_reading = document.getElementById('hum_reading');
    var dbRef3 = firebase.database().ref().child('humidity');
    dbRef3.on('value', snap => hum_reading.innerText =snap.val());
    
    var lux_reading = document.getElementById('lux_reading');
    var dbRef4 = firebase.database().ref().child('Light');
    dbRef4.on('value', snap => lux_reading.innerText =snap.val());
    
</script>
    
</html>